{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/food.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <title>KWUE</title>
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Know What You Eat</h2>
            </div>
        </div>

        {% include "./navigation_bar.html" %}

        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'add_food' %}" method="post" id="food-form">{% csrf_token %}
                  <div class="form-group">
                    <label for="food_name">Name:</label>
                    <input type="text" class="form-control" id="food_name" name="food_name">
                  </div>
                  <div class="form-group">
                    <label for="food_description">Description:</label>
                    <textarea form="food-form" class="form-control" id="food_description" name="food_description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="food_image">Image link:</label>
                    <input type="text" class="form-control" id="food_image" name="food_image">
                  </div>
                  <div class="form-group">
                    <label for="number_of_servings">Number of servings:</label>
                    <input type="text" class="form-control" id="number_of_servings" name="number_of_servings">
                  </div>
                  <div class="form-group">
                    <input type="hidden" class="form-control" id="food_owner" name="food_owner" value="1">
                  </div>
                </form>
                <div>
                    <label for="sem-tags">Tags:</label>
                    <input type="text" class="form-control" form="food-form" name="food_tags" id="sem-tags" value="">
                </div>
                <div hidden id="tag-result-panel">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Selected Tags
                        </div>
                        <div class="panel-body" id="semantic-tag-selected" style="overflow: auto">

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tags
                        </div>
                        <div class="panel-body" id="semantic-tag-result" style="overflow: auto">

                        </div>
                    </div>
                </div>
                <div>
                    <a id="tag_button" class="btn btn-default">Get Semantic Tags</a>
                </div>
                <a form="food-form" class="btn btn-default" id="submit-button">Submit</a>
            </div>
            <div class="col-md-4" id="ingredient-table">
                <div class="form-group ing-group">
                    <label for="ingredient-1">Ingredient</label>
                    <a class="btn btn-danger ingredient-delete"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    <input type="text" class="form-control" id="ingredient-1-val" value="" placeholder="Amount">
                    <input type="text" class="form-control" id="ingredient-1" value="" placeholder="Ingredient name">
                </div>
                <a class="btn btn-success" id="ingredient-add"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <a class="btn btn-primary" id="calc-nutr">Calculate Nutritional Information</a>
                </div>
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel panel-heading">
                        Nutrition Information
                        </div>
                        <div class="panel panel-body" id="nutrition-values">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'kwue/search_result_template.html' %}
    </div>
</body>
</html>