{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating.min.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/food_page.js' %}"></script>
    <title>KWUE</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Know What You Eat</h2>
            </div>
        </div>
        {% include 'kwue/navigation_bar.html' %}
        <div class="row">
            <div class="panel panel-success">
                <div class="panel panel-heading">
                    {{ food_name }}
                </div>
                <div class="panel panel-body">
                    <div class="col-md-3">
                        <img src="{{ food_image }}" style="width: 200px; height: auto">
                        <p>Description: {{ food_description }}</p>
                        <p>Recipe: {{ food_recipe }}</p>
                        <a class="btn btn-primary" id="mark-as-eaten" data-foodid="{{ food_id }}">Mark as Eaten</a>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="overflow: auto">
                            <h4>Related Tags</h4>
                            {% for tag in tag_list %}
                                <h4><p><span class="label label-primary"
                                             id="{{ tag.tag_id }}"
                                             data-label="{{ tag.tag_label }}"
                                             data-description="{{ tag.tag_description }}"
                                             data-name="{{ tag.name }}">
                                    {{ tag.tag_label }}: {{ tag.tag_description }}
                                </span></p></h4>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <h4>Nutritional Values</h4>
                            <p><strong>Carbohydrate: </strong>{{ carbohydrate_value }} g</p>
                            <p><strong>Sugar: </strong>{{ sugar_value }} g</p>
                            <p><strong>Fat: </strong>{{ fat_value }} g</p>
                            <p><strong>Protein: </strong>{{ protein_value }} g</p>
                            <p><strong>Calorie: </strong>{{ calorie_value }} cal</p>
                            <div hidden id="others">
                                <p><strong>Fiber: </strong>{{ fiber_value }} g</p>
                                <p><strong>Serving Weight: </strong>{{ serving_weight_grams }} g</p>
                                <h4><p><strong style="color: #5bc0de;">Vitamins</strong></p></h4>
                                <p><strong>Vitamin A: </strong>{{ vitamin_A }} IU</p>
                                <p><strong>Vitamin C: </strong>{{ vitamin_C }} mg</p>
                                <p><strong>Vitamin D: </strong>{{ vitamin_D }} IU</p>
                                <p><strong>Vitamin E: </strong>{{ vitamin_E }} mg</p>
                                <p><strong>Vitamin K: </strong>{{ vitamin_K }} mcg</p>
                                <p><strong>Thiamin: </strong>{{ thiamin }} mg</p>
                                <p><strong>Riboflavin: </strong>{{ riboflavin }} mg</p>
                                <p><strong>Niacin: </strong>{{ niacin }} mg</p>
                                <p><strong>Vitamin B6: </strong>{{ vitamin_B6 }} mg</p>
                                <p><strong>Vitamin B12: </strong>{{ vitamin_B12 }} mcg</p>
                                <p><strong>Pantothenic acid: </strong>{{ pantothenic_acid }} mg</p>
                                <p><strong>Choline: </strong>{{ choline }} mg</p>
                                <h4><p><strong style="color: #f0ad4e;">Minerals</strong></p></h4>
                                <p><strong>Calcium: </strong>{{ calcium }} mg</p>
                                <p><strong>Copper: </strong>{{ copper }} mg</p>
                                <p><strong>Flouride: </strong>{{ flouride }} mg</p>
                                <p><strong>IronFe: </strong>{{ iron_Fe }} mg</p>
                                <p><strong>Magnesium: </strong>{{ magnesium }} mg</p>
                                <p><strong>Manganese: </strong>{{ manganese }} mg</p>
                                <p><strong>Sodium Na: </strong>{{ sodium_Na }} mg</p>
                                <p><strong>Phosphorus: </strong>{{ phosphorus }} mg</p>
                                <p><strong>Selenium: </strong>{{ selenium }} mcg</p>
                                <p><strong>Zinc: </strong>{{ zinc }} mg</p>
                            </div>
                            <a id="more-button">More...</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div hidden id="tag-result-panel">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Selected Tags
                                </div>
                                <div class="panel-body" id="semantic-tag-selected" style="overflow: auto">

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Tags
                                </div>
                                <div class="panel-body" id="semantic-tag-result" style="overflow: auto">

                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="sem-tags">Add a tag:</label>
                            <input type="text" class="form-control" form="food-form" name="food_tags" id="sem-tags" value="">
                            <a href="#" class="btn btn-default" id="search-tags">Search</a>
                            <a href="#" class="btn btn-warning" id="submit-tags" data-foodid="{{ food_id }}">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'kwue/search_result_template.html' %}
    </div>
</body>
</html>