<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "./include.html" %}
    <title>KWUE</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Know What You Eat</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Welcome User</h4>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <a href="#" class="btn btn-default adv-search" type="button">Advanced Search</a>
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a href="{% url 'home' %}">Home</a></li>
                  <li role="presentation"><a href="{% url 'add_food' %}">add a food</a></li>
                  <li role="presentation"><a href="{% url 'get_food' %}">Foods</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for food in foods %}
                    <div>
                        <p>id: {{ food.food_id }}</p>
                        <p>name: {{ food.food_name }}</p>
                        <p>description: {{ food.food_description }}</p>
                        <p>owner: {{ food.food_owner }}</p>
                        <p>image: {{ food.food_image}}</p>
                        <p>rate: {{ food.food_rate }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>